body {
    height: 100vh;
    padding-top: 80px;
    background-image:url(./components/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family:'Fira Mono', monospace;

  
  }
  
  .App {
    font-family:'Fira Mono', monospace;
    text-align: center;
  }